<div class="main">
  <div class="backimage">
  <div class="inner">
    <div class="form__wrapper">
      <div class="form__border">
        <h2 class="page-heading1">練習投稿編集</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  </div>
</div>
<%= render "shared/footer" %>