<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}さん！", "/users/#{current_user.id}", class: :greeting__link%>
        <font color="white"><%= "練習動画をまとめておきましょう！" %></font>
      </div>
    <% end %>  
    <div class="card__wrapper">
      <%= render partial: 'practice', collection: @practices %>
    </div>
  </div>
</main>
