<div class="main">
  <div class="backimage">
  <div class="inner">
    <div class="form__wrapper">
      <div class="form__border">
        <h2 class="page-heading1">新規練習内容投稿</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  </div>
  <%= render "shared/footer" %>
</div>