/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  background-color:aliceblue;
}
.backimage{
  width: 100%;
  height:100%;
  background-image: url(background球場写真7.png);
  background-size:cover ;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 28px;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color:aquamarine;
  padding: 20px 0;

}
.inner {
  width: 80%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  color:blue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav__left{
  font-weight: bold;
  font-size: 30px;
}
.nav__right{
  margin-left: 50px;
}
.nav_subtitle{
  font-size: 15px;
  color: #3b4043;
  margin-left:30px ;
  font-style: italic;
}
.nav__btn{
  display: inline-block;
  padding: 0.6em 2.8em;
  font-size: 0.8em;
  font-weight:bold;
  color: red;
  text-decoration: none;
  user-select: none;
  border: 1px red solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-right: 10px;
  margin-bottom: 10px;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__mypage{
  display: inline-block;
  padding: 0.4em 2.8em;
  font-size: 0.8em;
  font-weight:bold;
  color: red;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-right: 10px;
  margin-bottom: 10px;
}
.nav__logout{
  display: inline-block;
  padding: 0.7em 2.8em;
  font-size: 0.8em;
  font-weight: 300;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.practice-contents{
  min-height: calc(100vh - 161px);
}
.page-heading1{
  text-align: center;
  margin-bottom: 20px;
  color:#87CEFA;
}
.form__wrapper{
  min-height: calc(100vh - 161px);
  display: flex;
  justify-content: center;
}
.form__border{
  padding-top:20px ;
  border:5px solid white;
  border-radius: 10px;
  height:65%;
  width:400px;
  display: block;
  justify-content: center;
}
.form_serect{
  width:100px;
}
.form__text {
  width: 65%;
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}
.fielder{
  color:white;
  
}
.field-pulldown{
  text-align: center;
  display: flex;
  justify-content:center;
}
.field1{
  margin: 10px 20px;
}
.field{
  margin: 20px 0;
  text-align: center;
}

.actions{
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}

.form__btn{
  display: inline-block;
  padding: 0.8em 3.2em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.preview-video{
  border: 3px solid black;
}
.video-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

/* メイン */

.greeting{
  margin-bottom: 1.2em;
  font-size: 1.2em;

}
.greeting__link{
  text-decoration: none;
  color:chartreuse;
  font-weight: bold;
}
.page-heading {
  font-size: 25px;
  margin-bottom: 28px;
  color:#87CEFA;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
  color: #f6f6f6;
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 20px;
  color:#fafafa;
}
.card__body{
  color:#fafafa;
}
.card__img {
  height:100%;
  width:100%;
  object-fit: contain;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color:#f5f5f5;
}
.card__header{
  display: flex;
  justify-content: space-between;
}
.card__summary {
  font-size: 16px;
  color:#f5f5f5;
}
.card__user {
  display: block;
  font-size: 12px;
  color:white;
  text-align: right;
  text-decoration: underline;
}
.favorite__location{
  text-align: right;
}

.practice_favorites1{
  padding: .1em 1em;
    overflow: hidden;
    border: 1px solid #2589d0;
    border-radius: 6px;
    background-color:#3b4043;
    color: #2589d0;
    font-size: 0.8em;
}
.practice_favorites1:hover {
  background-image: linear-gradient(45deg, #ffc107, #ff7b5f);
  color: #fff;
}
.practice_favorites1::before {
  z-index: -1;
  transform: rotate(-30deg);
  width: 70%;
  height: 0;
  border-radius: 6px;
  background-color: #2589d0;
  content: '';
  transition: height .3s ease;
}

.practice_favorites2{
  padding: .1em 1em;
    overflow: hidden;
    border: 1px solid #2589d0;
    border-radius: 6px;
    background-image: linear-gradient(45deg, #ffc107, #ff7b5f);
    color: #fff;
    font-size: 0.8em;
}

.practice_favorites2:hover {
  background-color:#3b4043;
  color: #2589d0;
}

.practice_favorites2::before {
  z-index: -1;
  transform: rotate(-30deg);
  width: 70%;
  height: 0;
  border-radius: 6px;
  background-color:#3b4043;
  content: '';
  transition: height .3s ease;
}
.pagination{
  font-weight: bold;
  color:#f6f6f6;
  font-size: 20px;
  border: 1px solid white;
  padding-left: 20px;
}

/* 詳細ページ */
.practice__wrapper{
  /* min-height: calc(100vh - 161px); */
  color: #f5f5f5;
}
.practice__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color:white;
}
.practice__user{
  display: block;
  font-size: 16px;
  color:white;
  text-align: center;
  text-decoration: underline;
}
.practice__image{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}
.practice__body{
  width:50%;
  margin-left: 25%;
  border: 2px solid white;
  border-radius: 10px;
}
.practice__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.practice__manage{
  display: flex;
  justify-content: center;
  padding: 16px;
}
.practice__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color:white;
  text-decoration: none;
  user-select: none;
  border: 2px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.practice__btn:hover{
  color: #fff;
  background: #999;
}

.practice__comments{
  padding: 0px 0 40px 0;
}
.comment__content{
  height: calc( 1.0em * 3 );
  width:25%;
  margin-right: 10px;
}

.comments_lists{
  padding-left: 25%;
}
.field2{
  text-align: center;
  margin-top: 40px;
}
.comment__header{
  font-weight: bold;
}
.actions1{
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
}
.comments_list{
  padding:10px 15px ;
  width:67%;
  border: 2px solid lightgreen;
  border-radius: 10px;
  margin-bottom: 10px;
}
.comment__manage{
  display: flex;
  justify-content:center;
  padding-top: 10px;
}
.card__img1{
  margin-bottom: 16px;
  height:100%;
  width:100%;
  object-fit: contain;
}
.comment_user{
  font-size: 16px;
  color: lightblue;
  text-decoration: underline;
  margin-left: 10px;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 50%;
  padding: 8px;
}
.table__col2{
  /* text-align:left; */
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 50%;
  padding: 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */
.footer1{
  width:100%;
  background-color: #999;
  padding: 10px 0;
  bottom: 0;
}
.footer2 {
  width:100%;
  background-color: #999;
  padding: 10px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; 
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}